<div class="tech-btm">
    <p>Teknoloji yazılım ve diğer bloglar...</p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        @*<input type="hidden" name="MailID" value="" action />*@
        <input type="email" placeholder="Mail" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>
</div>