
@{
    Layout = null;
}
<link href="~/CoreBlogTema/css/bootstrap.css" rel="stylesheet" />
<div class="container-lg text-center" style="padding-top:5%;">
    <h3 style="color:seagreen">Hoşgeldiniz @ViewBag.yazarismi</h3>
    <img src="~/CoreBlogTema/images/2.jpg" alt="Alternate Text" />
    <h1 style="color:seagreen">Burası yazar geçiş sayfası</h1>
    <a href="/Writer/Dashboard/Index/" class="btn btn-outline-success">Yazar Sayfasına Git</a>
</div>