<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/admin/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">AdminAdSoyad</span>
                        <span class="text-muted text-xs block">YazılımÖğrencisi <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="contacts.html">İletişim</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">Mesajlar</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="login.html">Çıkış</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    SB
                </div>
            </li>
            <li>
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Dashboard v.1</a></li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-label">Grafikler</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Flot Charts</a></li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">16/24</span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Email view</a></li>
                    <li><a href="#">Compose email</a></li>
                    <li><a href="#">Email templates</a></li>
                </ul>
            </li>

            <li>
                <a href="/Admin/Category/CategoryList/">
                    <i class="fa fa-folder"></i><span class="nav-label">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Blog/Index/">
                    <i class="fa fa-file-text"></i><span class="nav-label">Bloglar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Writer/Index/">
                    <i class="fa fa-users"></i><span class="nav-label">Yazarlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Notification/NotificationList">
                    <i class="fa fa-bell"></i><span class="nav-label">Bildirimler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Widget/Index/">
                    <i class="fa fa-flask"></i><span class="nav-label">İstatistikler</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-comments"></i><span class="nav-label">Yorumlar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-pie-chart"></i><span class="nav-label">Metrikler</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-cogs"></i><span class="nav-label">Ayarlar</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-phone"></i><span class="nav-label">İletişim</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-briefcase"></i><span class="nav-label">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-edit"></i><span class="nav-label">Formlar</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Basic form</a></li>
                    <li><a href="#">Advanced Plugins</a></li>
                    <li><a href="#">Wizard</a></li>
                    <li><a href="#">File Upload</a></li>
                    <li><a href="#">Text Editor</a></li>
                    <li><a href="#">Autocomplete</a></li>
                    <li><a href="#">Markdown</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fa fa-table"></i><span class="nav-label">Tablolar</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="table_basic.html">Static Tables</a></li>
                    <li><a href="#">Data Tables</a></li>
                    <li><a href="#">Foo Tables</a></li>
                    <li><a href="#">jqGrid</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-picture-o"></i><span class="nav-label">Galeri</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Lightbox Gallery</a></li>
                    <li><a href="#">Slick Carousel</a></li>
                    <li><a href="#">Bootstrap Carousel</a></li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-sign-out"></i><span class="nav-label">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
