@model Blog
@{
    ViewData["Title"] = "BlogEdit";
}
<h1>Blog Düzenleme Sayfası</h1>
<br />
@using (Html.BeginForm("BlogEdit", "Blog", "Writer", FormMethod.Post))
{
    <label>Blog ID</label>
    <input type="text" asp-for="BlogID" class="form-control" />
    <br />
    <label>Blog Başlığı</label>
    <input type="text" asp-for="BlogTitle" class="form-control" />
    <br />
    <label>Blog Küçük Görsel</label>
    <input type="text" asp-for="BlogThumbnailImage" class="form-control" />
    <br />
    <label>Blog Görseli</label>
    <input type="text" asp-for="BlogImage" class="form-control" />
    <br />
    <label>Blog Kategorisi</label>
    <select asp-for="CategoryID" asp-items="ViewBag.cv as List<SelectListItem>" class="form-control">
        <option></option>
    </select>
    <br />
    <label>Blog İçeriği</label>
    <textarea asp-for="BlogContent" class="form-control" rows="15"></textarea>
    <br />
    <button class="btn btn-success">Güncelle</button>
}
@*<form method="post" asp-controller="Blog" asp-action="BlogEdit" asp-area="Writer"></form>*@