@using UI.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td><a href="/Employee/DeleteEmployee/@item.ID" class="btn btn-md btn-outline-danger">Sil</a></td>
            <td><a href="/Employee/EditEmployee/@item.ID" class="btn btn-outline-success">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Employee/AddEmployee" class="btn btn-outline-primary">Yeni Çalışan Girişi</a>